body{
    font-family: 'Nanum Gothic Coding', monospace;
}

.d-none{
    display: none;
}
header .logo {
    width: 200px;
    height: 100px;
    margin: 100px auto;
    padding-right: 400px;
    padding-bottom: 50px;
}
.page-title {
    background: skyblue;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.login, .check{
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #666;
    padding: 30px;
}
.login h2, .check h2 {
    text-align: center;
    margin-bottom: 20px;
}
.screen_out{
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
}
#order-num{
    width: 85%;
    padding: 15px 0;
    margin: 10px 0;
}
#num1, #num2, #num3{
    padding: 15px 0;
    margin: 10px 0;
}
#num1{
    width: 20%;
}
#num2{
    width: 28%;
}
#num3{
    width: 28.5%;
}
[for=order-num],[for=num1]{
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 12%;
}
#u-id, #u-pw, [type=submit], button{
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
}
#u-id, #u-pw{
    text-indent: 10px;
}
[type=submit], [type=button]{
    background-color: skyblue;
    color: white;
    border: 0;
    font-size: 15px;
}

.links {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    text-align: center;
}

.links li {
    display: inline-block;
}
.links li:nth-child(2){
    margin: 0 15px;
}

.links a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
}
footer{
    text-align: center;
}
.contact{
    font-size: 50px;
    color: #d8724e;
    margin: 15px 0;
}
.address{
    font-size: 13px;
    color: #999;
}
.owner {
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}


footer .logo2 {
    margin: 30px auto;
    width: 200px;
    padding-right: 400px ;
    margin: 100px auto;
}